@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
}
body {
    height: 100%;
}

.background {
    display: flex;
    flex-direction:row;
    position: absolute;
    height: 100%;
}

.gradient {
    width: 40%;
    height: 100%;
}

.card-forms {
    width: 60%;
    display: grid;
    align-content: center;
    justify-items: start;
    padding: 0 5vw 0 20vw;
    grid-template-areas:
        "cardholder cardholder"
        "number number"
        "exp-date cvv"
        "confirm confirm";
    row-gap: 20px;
    font-size: 10px;
}

.card-forms h1{
    font-size: 10px;
}
.cardholder {
    grid-area: cardholder;
    width: 100%;
}

.number {
    grid-area: number;
    width: 100%;
}

.exp-date {
    grid-area: exp-date;
    display: grid;
    grid-template-areas:
    "h1 h1"
    "month year";
    gap: 2px 30px;
    width: 50%;
}
.exp-date h1 {
    grid-area: h1;
}
#month {
    grid-area: month;
}
#year {
    grid-area: year;
}

.cvv {
    grid-area: cvv;
    width: 100%;

    gap: 2px;
}

button {
    grid-area: confirm;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 0.5px solid rgb(175, 175, 175);
}
::placeholder {
    color: rgb(211, 211, 211);
}

.cards {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-content: center;
    justify-content: center;
    height: 100%;
    gap: 150px;
    padding: 0 5rem;
    color: white;
}

.card-front {
    display: grid;
    position: relative;
    height: 20%;
    width: auto;
    grid-template-areas: "logo"
    "number-preview"
    "name-exp-preview";
    align-items:start;
    justify-items: space-between;
    margin-right: 60px;
}
.card-front #front-img {
    position: absolute;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.428);
    border-radius: 10px;
    z-index: 0;
}
.card-front #logo {
    grid-area: logo;
    position: relative;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 60px;
}
.card-front h1 {
    grid-area: number-preview;
    position: relative;
    margin-left: 30px;
}
.card-front .card-bottom {
    grid-area: name-exp-preview;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}


.card-back {
    margin-left: 60px;
    position: relative;
    height: 20%;
    width: auto;
}
.card-back img {
    position: absolute;
    box-shadow: 5px 5px 100px rgba(0, 0, 0, 0.428);
    border-radius: 10px;
}
.card-back #cvv-mirror {
    position: relative;
    margin-left: 100%;
    margin-top: 31%;
}


